

.showMap_bg{
    width: 100%;
    height: 535px;
    background: url("../images/Map_bg.jpg") no-repeat;
}

.showMap{
    width: 1200px;
    margin:0 auto;

}
.map {
    height: 544px;
    width: 422px;
    position: relative;
    margin-left: 78px;
    float: left;
    transform:scale(.8);//设置缩放比例
    -ms-transform:scale(.8);
    -webkit-transform:scale(.8);
    -o-transform:scale(.8);
    -moz-transform:scale(.8);
}

.map span {
    display: block;
}



.mapdatas {
    width: 700px;
    height: 410px;
    float: left;
    margin-top: 130px;
}

.mapdata {
    width: 400px;
    overflow: hidden;
}

.mapdata h2{
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color: #333;
    padding-left: 10px;
}

.mapdataLists li{
    float: left;
}

.mapdata a{
    display: block;
    height: 30px;
    border: solid 1px #91aec5;
    color: #333333;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 10px 0 0 10px;
    text-decoration: none;
    float: left;
    padding: 0px 12px;
}

ul li{
    list-style: none;
}

.date_hide {
    display: none
}

.date_show {
    display: block;
}




/*
svg 地图样式
*/

.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-11,
.cls-12,
.cls-13{
    fill: #e2fcb3;
    stroke-miterlimit: 10;
    stroke: #232323;
    font-weight: 100;
}

.cls-9{
    fill: #c0efff;
}

.cls-10 {
    fill: #f6edfe;
}
