/*citydatasarch页面样式*/
/****************************************************************/
.footer{
    width: 100%;
}
.sf-menu .sf_sec_ul {
    position: absolute;
    width: 105px;
    top: -99em;
    background-color: #fff;
    border-left: solid 1px #eeeeee;
    border-right: solid 1px #eeeeee;
    -moz-box-shadow: 0px 0px 5px #c0c0c0;
    -webkit-box-shadow: 0px 0px 5px #c0c0c0;
    box-shadow: 0px 0px 5px #c0c0c0;
    -moz-border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -moz-border-bottom-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    border-bottom-left-radius: 8px;
}



.hintBag {
    width: 100%;
    height: 30px;
    position: relative;
    margin: auto;
    background-color: red;
    font-size: 14px;
    background-color: #f5f5f5;
    line-height: 30px;
    border-bottom: 1px solid #dddddd;
    padding-left: 70px;
}

.hintBag span {
    color: #999999;
    padding-left: 50px;
}

.important-document-list-divTop div {
    padding-top: 28px;
    font: 18px '微软雅黑';
}

.slide-right-arrowDiv {
    margin-top: -38;
}

.boxDivTop-content2 {
    border-bottom: none;
}

.dataBkTeB {
    color: white;
    font-weight: 100;
}

.friendList {
    width: 163px;
}

.friendList a {
    color: #737373;
    font-size: 12px;
}

.footer-bg14 {
    background-color: #469fe3;
    border-top: 1px solid #469fe3;
    height: 151px;
}

.footer {
    background-color: #469fe3;
}

.footer-help a {
    color: white;
    font-size: 14px;
}

.footer-message p {
    color: white;
    font-size: 14px;
}

.yhzcCeCoIt0 {
    margin-left: 60px;
}

.yhzc-boxDivBottom .dataList {
    margin-left: 36px;
}

.important-documentDivTitle {
    background-color: #62b2ef;
}

.yhzc-boxDivTop {
    padding-left: 0;
}

.boxDivTop-content6 {
    right: 90px;
}

.boxDivTop-content6 p {
    font-size: 14px;
}

.boxDivTop-content2 {
    right: 88px;
    top: 60px;
}

.boxDivTop-content2 p {
    font-size: 14px;
}

.region {
    line-height: 70px;
    position: absolute;
    right: 232px;
    top: 14px;
}

#provinceName {
    margin-left: 105px;
    margin-top: 3px;
}

.boxDivTop-header2 {
    margin-left: 172px;
}

.boxDivTop-header2 {
    margin-top: -95px;
}

.yhzc-boxDivTop {
    background-color: white;
}

.yhzcCeToIc {
    background: url(images/contentUser.png) no-repeat;
}

.boxDivTopTiIcOne {
    /*background: url(images/contentAir.png) no-repeat;*/
}

.boxDivTopTiTe {
    margin-left: 20px;
}

.yhzcCeCoItTe {
    width: 60px;
}

body {
    overflow-x: hidden;
}

.materialContentWidth {
    width: 270px;
    margin-left: 20px;
}

.friendLinkDivWidthBottom {
    height: 140px;
}

.commonTitleDiv {
    width: 270px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 20px;
}

.dataListDiv {
    margin-left: 115px;
    margin-top: 3px;
}

.dataImg {
    margin-top: 71px;
}

.body-content-data {
    border: none;
}

.body-content-dataSubRada {
    border-right: none;
}

.body-content-dataSubSurf {
    border-right: none;
    border-bottom: none;
}

.body-content-dataSubNafp {
    border-right: none;
}

.body-content-dataSubUper {
    border-right: none;
    border-bottom: none;
}

.body-content-dataSubSate {
    border-bottom: none;
}

.content-dataRi {
    background-color: white;
}

.content-dataLe {
    border-right: none;
}

.dataListIcon1 {
    display: inline-block;
    border-width: 4px;
    border-style: solid;
    border-color: white white white #cccccc;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 0;
    height: 0;
}

.listWork1 {
    margin-top: 3px;
}

.body-content-bottomBk {
    margin-top: 100px;
}

.body-content-dataSub {
    height: auto;
}

.content-dataRiTo {
    height: auto;
}

.commonMore {
    color: #999;
    margin-top: 10px;
}

.commonMore div {
    color: #999;
}

.body-content-bottomBk {
    margin-top: 70px;
}

.content-dataRiBo {
    margin-top: -5px;
}

.important-document-list-div:hover {
    background-color: #7bbaea;
}

.important-document-list-div .slide-div {
    background-color: white;
}

.body-content-NoticeSubLawQXF {
    margin-top: 10px;
}




/*内容区域*/
.content{
    min-height: 300px;
    margin-top: 31px;
}
.coreContent{
    width: 1200px;
    margin: 0 auto;
    margin-top: 27px;
}
.ContentTitle{
    font-size: 16px;
}
.ContentTitle p{
    margin-left: -30px;
}
.contentCreateOrder{
    width: 100%;
    background-position-x: -360px;
    background-position-y: -496px;
    background-size: 160% 160%;
    background-repeat: no-repeat;
    margin-top: 17px;
}
.contentCreateOrderLeft{
    width: 220px;
    height: 408px;
    background-color: #f0f0f0;
    margin-left: 30px;
    float: left;
    font-size: 18px;
    color: #666666;
}
.contentCreateOrderLeft span{
    display: block;
    width: 220px;
    height: 50px;
    background-color: #47a0e3;
    text-align: center;
    color: white;
    line-height: 50px;
}
.contentCreateOrderLeft ul{

}
.contentCreateOrderLeft ul li{
    width: 220px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-top: 1px solid #dddddd;
}

.contentCreateOrderLeft li a{
    display: block;
    width: 220px;
    height: 50px;
    font-size: 18px;
    /*color: black !important;*/
}
.contentCreateOrderLeft li a:hover,.contentCreateOrderLeft li:focus{
    color: white;
    background-color: #47a0e3;

}



.contentCreateOrderRight{
    width: 902px;
    height: 606px;
    /*background-color: #666666;*/
    float: left;
    margin-left: 20px;
}
.contentCreateOrderRight ul li{
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
}

.contentCreateOrderRight li a{
    display: block;
    width: 110px;
    height: 50px;
    font-size: 18px;
}
.contentCreateOrderRight li a:hover,.contentCreateOrderLeft li:focus{
    color: #47a0e3;
    border-bottom: 2px solid #47a0e3;

}
.k-picker-wrap .k-icon{
    margin-top: 8px;
}
.k-combobox .k-icon, .k-dropdown, .k-selectbox .k-icon{
    margin-top: 8px;
}
.contentConditionBox{
    width: 900px;
    height: 60px;
    background-color: #47a0e3;
    margin-top: 30px;
    line-height: 60px;
    color: white;
    padding-left: 30px;
    border-radius: 3px;
    font-size: 18px;

}
.contentConditionBoxOne{
    display: inline-block;
    margin-left: 50px;
}
.contentConditionBoxTwo{
    display: inline-block;
    margin-left: 100px;
}
.contentConditionBoxThree{
    display: inline-block;
    margin-left: 80px;
}
.nav12 div.ul div.li{
    padding: 0px 0px;
    margin-left:115px;
}
body{
    list-style-type: none !important;

}
a{
    text-decoration: none !important;
}
table{
    /*width: 902px;
    height: 465px;*/
    border: 1px solid #dddddd;
}
td{
    text-align: center !important;

}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    line-height: 2.428571 !important;
}



.fontCheckedStyle{
    color: #47a0e3;
    border-bottom: 2px solid #47a0e3;
}
.contentCreateOrderLeftUlLast a{
    color: #47a0e3 !important;
}

.contentCreateOrderLeft a{
    color: black;
}
/*table.table tr td{
    border: none;
}*/
.tableFontSize td{
    font-size: 16px !important;
    text-align: center;
}
.tableFontSize td a{
    font-size: 16px;
}
.conditionBrief{
    width: 1200px;
    height: 104px;
    border-bottom: 2px solid #47a0e3;
}
.conditionBrief span{
    font-size: 30px;padding-left:100px;padding-top: 50px;line-height: 114px;color: #47a0e3;
}
.dataDetails p{
    font-size: 18px;
    font-weight: 200;
    color: #595a5b;
    padding-left: 65px;
}
.dataDetails p span{
    color: #666666;
    font-weight: 100;
    font-size: 17px;
}

.contentFooter{
    width: 1200px;
    height: 145px;
    /*margin-top: 50px;*/
}
.btnMyData{
    width: 150px;
    height: 40px;
    background-color: #65b5f1;
    border-radius: 3px;
    margin:0 auto;
    margin-top: 32px;
}
.btnMyData img{
    vertical-align: middle;
    margin-top: -2px;
    /*padding-left: 5px;*/
}
.btnMyData span{
    line-height: 40px;
    margin-left: 7px;
    color: white;
    font-size: 16px;
}
/*table.table{*/
    /*width: 996px;*/
    /*margin: 0 auto;*/
/*}*/
table.table tr{
    background: none !important;
}
.contentCore{
    width: 996px;
    height: 1255px;
    margin: 0 auto;
    padding-top: 104px;
}
.DatePicker{
    width: 996px;
    height: 42px;
    margin-top: -50px;
    border-bottom: 1px solid #dddddd;
}
.contentCoreKendo{

}
.cityName{
    width: 73px;
    height: 23px;
    margin-top: 28px;
    border-bottom: 0px solid #dddddd;
}

.cityNameSelect{
    width: 996px;
    height: 145px;
    border: 1px solid #DDDDDD;
    margin-top: 22px;
    border-radius: 3px;
}
.cityNameSelect a{
    display: block;
    font-size: 16px;
    line-height: 30px;
    width: 60px;
    height: 30px;
    float: left;
    line-height: 30px;
    text-align: center;
    color: #47a0e3;

}
.cityNameSelect a:hover{
    background-color: b7dffd;
    border-radius: 3px;
    color: #47a0e3;
}
.cityNameSelectOneList{
    margin-top: 15px;
    padding-left: 20px;

}
.cityNameSelectOneList a{
    margin-left: 34px;
}
.cityNameSelectTwoList{

    padding-left: 20px;
}
.cityNameSelectTwoList a{
    margin-left: 34px;
}
.cityNameSelectThreeList{

    margin-left: 20px;
}
.cityNameSelectThreeList a{
    margin-left: 34px;
}
.cityNameSelectCheckbox label{
    
    margin-top: 45px;
    color: #1984fd;
    font-size: 16px;
}
.regionSelect1{
    width: 996px;
    height: 46px;
    /*height: 168px;*/
    border: 1px solid #DDDDDD;
    margin-top: 6px;
    border-radius: 16px;
}
.regionSelect{
    width: 996px;
    height: 46px;
    /*height: 168px;*/
    border: 1px solid #DDDDDD;
    margin-top: 6px;
    border-radius: 16px;
}
.regionSelectOneList .checkbox{
    display: inline-block;
    margin-left: 80px;
}
.regionSelectTwoList .checkbox{
    display: inline-block;
    margin-left: 80px;
}
.addSymbol{
    width: 15px;
    height: 15px;
    border: 1px solid #7d7d7d ;
    color: #7d7d7d;
    text-align: center;
    line-height: 10px;
    border-radius: 3px;
    padding-left: 4px;
    cursor:pointer;
    z-index: 10;
}
.addSymbol1{
    width: 15px;
    height: 15px;
    border: 1px solid #7d7d7d ;
    color: #7d7d7d;
    text-align: center;
    line-height: 13px;
    border-radius: 3px;
    padding-left: 2px;
    position: relative;
    left: 965px;
    top: -18px;
    z-index: 10;
    cursor:pointer;

}
.inquireData{
    width: 996px;
    height: 42px;
    margin-top: 45px;
    border-bottom: 1px solid #dddddd;

}
.inquireDataCheckbox{
    float: right;
    color: #1984fd;
    font-size: 16px;
    margin-top: -38px !important;
}
.inquireDataCheckbox label{

}



.inquireDataSelect{
    width: 996px;
    height: 295px;
    border: 1px solid #DDDDDD;
    margin-top: 80px;
    border-radius: 3px;
}

.inquireDataSelectOneList .checkbox{
    display: inline-block;
    margin-left: 80px;
}
.inquireDataSelectTwoList .checkbox{
    display: inline-block;
    margin-left: 80px;
}

/*查询数据样式*/
.allSearchData{
    margin-left: 50px;
    border: none;
}
.allSearchData td{
    width: 225px;

}
.allSearchData td div{
    text-align: left;
}


/*伸缩功能相关*/
.stretch{
    display: none;
}
.showStretch{
    display:table-row !important;
}

.juzhong{
    width:1007px;
    height:150px;
    margin:0 auto;
}
.buttonjuzhong
{
 text-align:center;
}