<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.nuist.dao.TemperatureMapper">

	<!-- 抽取where条件 -->
	<sql id="temperature_where">
		<where>
			<if test="dataStation !=null and dataStation !='' ">
				and t.station_id like '%${dataStation}%'
			</if>
			<if test="dataCity !=null and dataCity !='' ">
				and t.data_city=#{dataCity}
			</if>
			<if test="dataElement !=null and dataElement !='' ">
				and data_element=#{dataElement}
			</if>
			<if test="dataYear !=null and dataYear !='' ">
				and t.data_year=#{dataYear}
			</if>
			<if test="dataMonth !=null and dataMonth !='' ">
				and t.data_mon=#{dataMonth}
			</if>
		</where>
	</sql>

	<!-- 分类查询 -->
	<select id="findTemperatureByVo" parameterType="cn.nuist.pojo.QueryVo"
		resultType="cn.nuist.pojo.Temperature">
		SELECT t.t_id,t.station_id ,d.dict_item_name
		data_city,t.year_data,t.mon_data,t.day_data,b.dict_item_name
		data_element,c.dict_item_name data_source from t
		LEFT JOIN base_dict b ON t.data_element=b.dict_id
		LEFT JOIN base_dict c ON
		t.data_source=c.dict_id
		LEFT JOIN base_dict d ON t.data_city=d.dict_id
		<include refid="temperature_where"></include>
		<!-- 从第几条开始到第几条 -->
		limit #{start},#{size}
	</select>

	<!-- 分页用 -->
	<select id="findTemperatureByVoCount" parameterType="cn.nuist.pojo.QueryVo"
		resultType="int">
		SELECT count(*) from t
		LEFT JOIN base_dict b ON t.data_element=b.dict_id
		LEFT JOIN base_dict c ON
		t.data_source=c.dict_id
		LEFT JOIN base_dict d ON t.data_city=d.dict_id
		<include refid="temperature_where"></include>
	</select>

	<!-- 根据ID显示详情页 -->
	<select id="findTemperatureById" parameterType="BigInteger"
		resultType="cn.nuist.pojo.Temperature">
		select * from t where t_id=#{id}
	</select>

	<!-- 根据ID修改 -->

	<update id="updateTemperatureById" parameterType="cn.nuist.pojo.Temperature">
		UPDATE t
		<!-- set标签作用: 第一可以自动添加set关键字, 第二可以去掉最后一个更新的逗号 -->
		<set>
			<if test="station_id != null and  station_id != ''">
				station_id=#{station_id} ,
			</if>

		</set>
		where t_id=#{t_id}
	</update>

	<!-- 根据ID删除 -->
	<delete id="deleteTemperatureById" parameterType="BigInteger">
		delete from t where t_id=#{id}
	</delete>
	
	<!-- 根据ID数据批量删除 -->
	<delete id="deleteTemperatureByIds" parameterType="BigInteger">
		delete from t
		<where>
			t_id in
			<foreach collection="array" item="id" open="(" close=")"  separator=",">
					#{id}
			</foreach>
		</where>
	</delete>



	<!-- 根据站点名称下载 -->
	<select id="downloadTemperatureBydataStation" parameterType="String"
		resultType="cn.nuist.pojo.Temperature">
		select * from t where station_id=#{dataStation}
	</select>
	
	<!-- 根据年份下载 -->
	<select id="downloadTemperatureBydataYear" parameterType="String"
		resultType="cn.nuist.pojo.Temperature">
		select * from t where year_data=#{dataYear}
	</select>

	<!-- 根据条件选择下载 -->
	<select id="downloadTemperatureBySelect" parameterType="cn.nuist.pojo.DownloadVo"
		resultType="cn.nuist.pojo.Temperature">
		select * from t
		<where>
			<if test="dataYear !=null and dataYear !='' ">
				and year_data=#{dataYear}
			</if>
			<if test="dataMonth !=null and dataMonth !='' ">
				and mon_data=#{dataMonth}
			</if>
			<if test="dataCity !=null and dataCity !='' ">
				and data_city=#{dataCity}
			</if>
			<if test="dataElement !=null and dataElement !='' ">
				and data_element=#{dataElement}
			</if>
		</where>
	</select>
	<!-- 检查年份数据是否为空 -->
	<select id="checkDataYear" parameterType="String" resultType="cn.nuist.pojo.Temperature" >
		SELECT * FROM t WHERE year_data=#{dataYear}
	</select>
	<!-- 检查月份数据是否为空 -->
	<select id="checkDataMonth" parameterType="String" resultType="cn.nuist.pojo.Temperature" >
		SELECT * FROM t WHERE mon_data=#{dataMonth}
	</select>
	<!-- 检查城市数据是否为空 -->
	<select id="checkDataCity" parameterType="String" resultType="cn.nuist.pojo.Temperature" >
		SELECT * FROM t WHERE data_city=#{dataCity}
	</select>
	<!-- 检查要素数据是否为空 -->
	<select id="checkDataElement" parameterType="String" resultType="cn.nuist.pojo.Temperature" >
		SELECT * FROM t WHERE data_element=#{dataElement}
	</select>
	<!-- 导入数据 -->
	<insert id="insertTemperatureData" parameterType="java.util.List">
	    insert into t(station_id, year_data ,mon_data, day_data, t1,t2, t3, t4,
	      t5, t6, t7, t8, t9, t10, t11, t12, t13, t14, t15, t16, t17, t18, t19, t20, t21, t22, t23
	      , t24, tmax, tmin)
	    values
	    <foreach collection="list" item="item" index="index" separator=",">
	      (#{item.station_id}, #{item.year_data}, #{item.mon_data},#{item.day_data}, #{item.t1},
	      #{item.t2}, #{item.t3},#{item.t4}, #{item.t5},#{item.t6},#{item.t7},#{item.t8},#{item.t9},
	      #{item.t10}, #{item.t11}, #{item.t12}, #{item.t13}, #{item.t14}, #{item.t15}, #{item.t16}, #{item.t17}
	      , #{item.t18}, #{item.t19}, #{item.t20}, #{item.t21}, #{item.t22}, #{item.t23}, #{item.t24}, 
	      #{item.tmax}, #{item.tmin})
	    </foreach>
	</insert>


</mapper>